.App{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

Canvas{
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100vw;
    cursor:pointer;
}

.background2 {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background3 {
    background-color: rgb(0, 14, 31,1);
    height: 100vh;
    width: 100vw;
}


.exit{
    cursor: pointer;
    z-index: 5;
    color: rgb(0, 37, 80);
    justify-content: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
    width: 14rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    margin: auto;
    order: 2;
}

img{
    height: 20rem;
    width: auto;
}

.img2{
    position:fixed;
    z-index: 2;
    bottom: 0%;
    right: 0%;
    height: auto;
    width: 16%;
    border-radius: 50%;
    background-color: rgb(241, 253, 255);
    margin: 1rem;
    max-width: 6rem;
}